@model NHS_HackDay.Common.Contact

@{
  ViewBag.Title = "Me";
}

<h2>My Settings</h2>

@using (Html.BeginForm())
{
  <table class="table">
    <tr>
      <td>Id</td>
      <td>@Html.TextBoxFor(m => m.Id)</td>
    </tr>
    <tr>
      <td>Name</td>
      <td>@Html.TextBoxFor(m => m.Name)</td>
    </tr>
    <tr>
      <td>Mobile Number</td>
      <td>@Html.TextBoxFor(m => m.MobileNumber)</td>
    </tr>
    <tr>
      <td>Divert To</td>
      <td>@Html.TextBoxFor(m => m.DivertToId)</td>
    </tr>
    <tr>
      <td>Accept Calls</td>
      <td>Accept @Html.RadioButtonFor(m => m.AcceptCalls, "true") Reject @Html.RadioButtonFor(m => m.AcceptCalls, "false")</td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" value="Update" /></td>
    </tr>
  </table>
}